@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

